extends layout

block content
	div.cs-full-height(flex layout='row' layout-fill)
		md-sidenav.md-sidenav-left.md-whiteframe-z2.cs-sidebar-left(flex layout='column' md-is-open='_layout.leftSidebar.isOpen' md-is-locked-open='$mdMedia("gt-sm")' ng-mouseover='setLayoutProperty("leftSidebar.isExpanded", true)' ng-mouseleave='setLayoutProperty("leftSidebar.isExpanded", false)' ng-class='{ "cs-sidebar-expanded": _layout.leftSidebar.isPinned || _layout.leftSidebar.isExpanded }')
			md-toolbar
				div.md-toolbar-tools(layout='row' layout-align='start center')
					div.cs-logo
						md-icon(md-svg-icon='logo' style='width: 32px; height: 32px;')
					h2.cs-title(flex) #{jv_app_title}
					md-button.md-icon-button.cs-action(ng-click='toggleLayoutProperty("leftSidebar.isPinned", true)' aria-label='pin menu bar open' show-gt-sm hide-sm hide-xs)
						md-icon(md-font-set='material-icons') {{ (_layout.leftSidebar.isPinned)? "radio_button_checked": "radio_button_unchecked"  }}
			md-toolbar.md-accent
				div.md-toolbar-tools.cs-menu-container(layout='column' layout-align='start center')
					div.cs-menu-item(flex layout='row')
						md-button(ng-href='#{jv_root_path}')
							md-icon(flex md-font-set='material-icons') home
							span home
					div.cs-menu-item(flex layout='row')
						md-button(ng-href='#{jv_root_path}app')
							md-icon(flex md-font-set='material-icons') dashboard
							span dashboard
					div.cs-menu-item(flex layout='row')
						md-button(ng-href='#{jv_root_path}about')
							md-icon(flex md-font-set='material-icons') help
							span about
					div.cs-menu-item(flex layout='row')
						md-button(ng-href='#{jv_root_path}auth/login')
							md-icon(flex md-font-set='material-icons') person
							span login
		div(flex layout='column')
			md-toolbar.cs-topbar
				div.md-toolbar-tools
					md-button.md-icon-button(ng-click='toggleLayoutProperty("leftSidebar.isOpen")' aria-label='open left sidebar' hide-gt-sm show-sm show-xs)
						md-icon(md-font-set='material-icons') menu
					h2(flex hide-xs)
						span(ng-repeat='crumb in breadCrumbs')
							span {{crumb}}
							span(ng-if='!$last') &nbsp;/&nbsp;
					md-button.md-icon-button(ng-click='toggleFullScreen()' aria-label='toggle fullscreen mode' hide-xs)
						md-icon(md-font-set='material-icons') {{ (_layout.isFullScreen)? "fullscreen_exit": "fullscreen"  }}
					md-menu(md-offset='0 48')
						md-button(ng-click='$mdOpenMenu()' aria-label='open user menu')
							img.cs-avatar(ng-src='{{_user.avatar}}')
							span {{_user.firstName}}
						md-menu-content
							md-menu-item
								md-button(ng-href='#{jv_root_path}auth/logout' aria-label='log out')
									md-icon(md-font-set='material-icons') exit_to_app
									span Log out
			block body
