- var appTitle = GLOBAL.config.cfg_app_title;
- var appVersion = GLOBAL.config.cfg_app_version;
- var rootPath = GLOBAL.config.cfg_root_path;
- var useMinifiedFiles = GLOBAL.config.cfg_enable_minified_files;

doctype html
html(lang='en' ng-cloak ng-app='app' ng-controller='app.layout.MasterLayoutController')
	head
		title=title
		if useMinifiedFiles === true
			link(rel='stylesheet', href='#{rootPath}css/angular-material.min.css?#{appVersion}')
			link(rel='stylesheet', href='#{rootPath}css/app.min.css?#{appVersion}')
		else
			link(rel='stylesheet', href='#{rootPath}css/angular-material.css?#{appVersion}')
			link(rel='stylesheet', href='#{rootPath}css/app.css?#{appVersion}')
		link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
	body(layout='column')
		block content

		script(type='text/javascript')
			| window.cfg_app_title = '#{appTitle}';
			| window.cfg_app_version = '#{appVersion}';
			| window.cfg_root_path = '#{rootPath}';
		if useMinifiedFiles === true
			script(type='text/javascript', src='#{rootPath}js/app.min.js?#{appVersion}')
		else
			script(type='text/javascript', src='#{rootPath}js/app.js?#{appVersion}')

		block scripts
