extends layout
block content
	div(flex layout='row' layout-align='center center')
		md-whiteframe.app-login-box.md-whiteframe-z3(layout='column' layout-align='center center' layout-margin layout-padding)
			div.md-headline(flex layout='row' layout-padding layout-margin)
				div(flex='10')
					md-icon(md-svg-src='#{rootPath}img/logo.svg')
				div(flex='90') #{appTitle}
			form(name='loginForm' method='post' action='#{rootPath}auth/login' layout-fill layout='column' layout-padding layout-margin)
				md-input-container(flex)
					label username
					input.md-body-1(type='text' value='#{username?username:""}' name='username' required) 
				md-input-container(flex)
						label password
						input.md-body-1(type='password' name='password' required)
				div(flex layout='row' layout-align='center center')
					label.md-body-1.app-text-error(flex) #{errorMessage}
				md-input-container(flex layout='row' layout-align='center center')
					md-button.md-raised.md-primary(type='submit') Login
block scripts
	script(type='text/javascript')
