extends master-layout

block content
	div(layout='row' layout-fill ng-controller='app.auth.LoginController')
		div(layout='column' flex layout-align='center center')
			md-card.md-whiteframe-4dp.cs-focus-box
				md-toolbar
					div(layout='column' layout-padding layout-align='center center')
						md-button.md-headline.md-padding(ng-href='#{jv_root_path}')
							md-icon(md-svg-icon='logo')
							span.md-padding #{jv_app_title}
				md-card-content.md-padding
					form(name='loginForm' method='post' action='#{jv_root_path}auth/login')
						md-input-container.md-block
							label(for='username') Username
							input(type='text' name='username' ng-model='username' required)
						md-input-container.md-block
							label(for='password') Password
							input(type='password' name='password' ng-model='password' required)
						if redirect
							input#redirect(type='hidden', name='redirect', value='#{redirect}')
						div(flex layout='row' layout-align='center center')
							label.md-body-1.cs-text-error(flex) #{errorMessage}
						md-input-container.md-block
							div(layout='row' layout-align='center center')
								md-button.md-raised.md-accent(type='submit') Login

block scripts
	script(type='text/javascript')
		| var username= '#{username}';
		| var responseUsername = '#{rv_username}';
		| username = (username) ? username:responseUsername;
		| angular.module('app').config(['app.core.configProvider', function(configProvider) {
		|     configProvider.set('username', username);
		| }]);
