extends layout

block content
	div.cs-full-height(flex layout='row' layout-fill)
		div(flex layout='column')
			md-toolbar.cs-topbar
				div.md-toolbar-tools
					div.cs-logo
						md-icon(md-svg-icon='logo' style='width: 32px; height: 32px;')
					h2.cs-title(flex) #{jv_app_title}
					md-button(ng-href='#{jv_root_path}app' hide-xs)
						span(hide-xs) Dashboard
					md-button.md-icon-button(ng-href='#{jv_root_path}app' hide-gt-xs aria-label='go to dashboard')
						md-icon(md-icon-set='material-icons') dashboard
					md-button(ng-href='#{jv_root_path}app' hide-xs)
						span(hide-xs) About
					md-button.md-icon-button(ng-href='#{jv_root_path}app' hide-gt-xs aria-label='go to about page')
						md-icon(md-icon-set='material-icons') help
			block body
